@model DevBol.Presentation.ViewModels.ApostadorCampeonatoViewModel

@{
    ViewData["Title"] = "Desassociar o Apostador: " + Model.Apostador.Usuario.Apelido + " do(a): " + Model.Campeonato.Nome;

    <script src="~/lib/jquery/dist/jquery-3.7.1.js"></script>

}

<h4 style="padding-top: 50px">@ViewData["Title"] </h4>

<h5>Você tem certeza disso?</h5>

<div class="row">

    <div class="col-md-6">
        <dl>
           
        </dl>

        <div>
            <form asp-action="Delete">
                @* <input type="hidden" asp-for="CampeonatoId" /> *@
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Desassociar" class="btn btn-danger" />
                <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
            </form>
        </div>
    </div>
</div>
