@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET MVC - teste datatables  </h1>
  
</div>
 *@

@{
    ViewData["Title"] = "Home Page - testando chamar pela HOME";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Items (Home)</h3>
            </div>
            <div class="panel-body">
                <table id="ItemsTable" class="table table-striped table-bordered table-hover responsive" width="100%">
                    <thead class="thin-border-bottom">
                        <tr>
                            <th>Item Id</th>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
         
    <script>
    (function($) {
        var generateCustomerTable = $("#ItemsTable")
        .dataTable({
          "processing": true,
          "serverSide": true,
          "ajax": {
              "url": "/api/items",
              "method": "POST"
          },
          "columns": [
            { "data": "itemId" },
            { "data": "nome" },
            { "data": "descricao" }
          ],
          "ordering": true,
          "paging": true,
          "pagingType": "full_numbers",
          "pageLength": 3
        });
    })(jQuery);
    </script>
}
