<div class="jumbotron jumbotron-fluid">

    <div class=""container">

        <h1><b> Acesso Negado </b> </h1>
        <p class="lead">Voçê não tem AUTORIZAÇÃO para acessar esta página. </p>

    </div>"

</div>